<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Dog Food</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-trem"><a class="nav-link active" aria-current="page" href="/">홈</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:void(0)" onclick="shopping_btn()">쇼핑</a></li>

            </ul>
            <form class="d-shop item" name="addshopitem-btn" action="/shop/save" method="get">
                <button class="btn btn-outline-dark" id="additem_btn" onclick="saveitem_btn()">
                    <i class="bi-cart-fill me-1"></i>
                    물품추가
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
            <form class="d-mylist" name="myitemlist-btn" action="/member/trade" method="get">
                <button class="btn btn-outline-dark" id="tradeList_btn" onclick="mylist_btn()">
                    <i class="bi-cart-fill me-1"></i>
                    장바구니
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
            <form class="d-flex" name="detail_btn" action="/member/detail" method="get">
                <button class="btn btn-outline-dark" onclick="detail_btn()">
                    <i class="bi-cart-fill me-1"></i>
                    마이페이지
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
            <form class="d-login" name="memberswitch_btn" action="/member/login" method="get">
                <button class="btn btn-outline-dark" id="member_btn" onclick="membertrigger_btn()">
                    <i class="bi bi-file-person-fill"></i>
                    Login/logout
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
            <form action="/member/save" method="get" name = "save_btn" class="d-save">
                <button class="btn btn-outline-dark" id="save_btn" onclick="savefunction()">
                    <i class="bi bi-plus-lg"></i>
                    Create
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-white py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">DogFood</h1>
        </div>
    </div>
</header>
<!-- Section-->
<div class="text-center">
<form action="/member/detail" method="post" name="detailForm">
    <input type="hidden" name="mIdnum" th:value="${detailDTO.MIdnum}">
    아이디 : <input type="text" name="mId" id="m_id" th:value="${detailDTO.MId}" readonly><br>
    <span id="idcheck"></span><br>
    비밀번호 : <input type="text" name="mPassword"><br>
    이름 : <input type="text" name="mName" th:value="${detailDTO.MName}" readonly><br>
    주소 : <input type="text" name="mAddress" th:value="${detailDTO.MAddress}"><br>
    이메일 : <input type="text" name="mEmail" th:value="${detailDTO.MEmail}"><br>
    핸드폰번호 : <input type="text" name="mPhonenum" th:value="${detailDTO.MPhonenum}"><br>
    <input type="button" value="가입하기" onclick="detail_btn()"><br>
</form>
</div>
<!-- Footer-->
<footer class="my-4 py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/save.js"></script>

</body>
<script>
    const member_btn = document.getElementById("member_btn");
    const save_btn = document.getElementById("save_btn");
    const tradeList_btn = document.getElementById("tradeList_btn");

    const session_id= "[[${sessionid}]]";
    const additem_btn = document.getElementById("additem_btn");

    if(session_id=="null"||session_id==null||session_id==""){

        member_btn.style.visibility = "visible";
        member_btn.innerHTML = "로그인";
        save_btn.style.visibility = "visible";
        save_btn.innerHTML ="회원가입";
        additem_btn.style.visibility = "hidden";
        tradeList_btn.innerHTML = "장바구니";
    }else{

        member_btn.style.visibility = "visible";
        member_btn.innerHTML = "로그아웃";
        save_btn.style.visibility = "hidden";
        save_btn.innerHTML = "회원가입";
        if(session_id=="admin"){
            additem_btn.style.visibility="visible";
            tradeList_btn.innerHTML="거래내역";
        }else{
            additem_btn.style.visibility="hidden";
            tradeList_btn.innerHTML="거래내역";
        }
    }

    function saveitem_btn(){
        addshopitem-btn.submit();
    }
    function savefunction(){
        //save_btn.submit();
        $(".d-save").submit();
    }
    function membertrigger_btn(){
        if(session_id=="null"||session_id==null||session_id==""){
            memberswitch_btn.submit();
            console.log("login");
        }else{
            location.href="/member/logout";
        }
    }
    function detail_btn(){
        detail_btn.submit();
    }
    function shopping_btn(){
        console.log("쇼핑버튼");
        location.href="/food/main";
    }


    function detail_btn(){
        detailForm.submit();
    }
    function mylist_btn() {
        if (session_id == "admin") {
            location.href = "/trade/main";
        } else {
            myitemlist - btn.submit();
        }
    }
</script>
</html>
